<div class="wrapper">

  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-side-left></app-side-left>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <app-bread></app-bread>
    <!-- Main content -->
    <section class="content">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
    </section>
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>

  <!-- Control Sidebar -->
  <app-side-right></app-side-right>
  <!-- /.control-sidebar -->
</div>