
<button  (click)="create()" style="margin-left: 10px;" class="actions btn btn-success btn-sm btn-flat ">
    <i class="fa fa-plus-circle"></i>
    Novo</button>

<button (click)="updateState(1)" style="margin-left: 10px;" class=" actions btn btn-warning btn-sm btn-flat ">
  <i class="fa fa-check"></i>
  Ativar</button>

<button (click)="updateState(2)" style="margin-left: 10px;" class=" actions btn bg-gray  btn-sm btn-flat">
  <i class="fa fa-close"></i>
  Desabilitar</button>

<button (click)="updateState(3)" style="margin-left: 10px;" class=" actions btn bg-blue btn-sm btn-flat ">
  <i class="fa fa-trash"></i>
  Enviar p/ Lixeira</button>

  <button  (click)="deletes()" style="margin-left: 10px;" class=" actions btn btn-danger btn-sm btn-flat ">
    <i class="fa fa-eraser"></i>
    Esvaziar Lixeira</button>
    
<button style="margin-left: 10px;" class=" export-csv btn bg-aqua btn-sm btn-flat ">
  <i class="fa fa-plus-circle"></i>
  Exportar</button>
<button  (click)="ajuda(helper)" style="margin-left: 10px;" class=" ajuda btn bg-purple btn-sm btn-flat ">
  <i class="fa fa-question-circle"></i>
  Ajuda</button>