<div class="zf-table-wrap  form-inline">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            Lista de categorias </h3>
          <div class="box-tools">
            <app-filters (onSearchTerm)="submeter($event)" (onSearchChang)="onChang($event)">
            </app-filters>

          </div>
        </div>

        <div class="mailbox-controls">
          <!-- Check all button -->
          <div class="btn-group">
            <!-- <app-actions status="searchCriteria.valuesState" route="admin/operacional/cidades/cadastro"  updateRoute="admin/operacional/cidades?action=status"></app-actions> -->
            <button  (click)="create()" style="margin-left: 10px;" class="actions btn btn-success btn-sm btn-flat ">
              <i class="fa fa-plus-circle"></i>
              Novo</button>
          
          <button *ngIf="searchCriteria.valuesState=='' || searchCriteria.valuesState=='2' || searchCriteria.valuesState =='3'" (click)="updateState(1)" style="margin-left: 10px;" class=" actions btn btn-warning btn-sm btn-flat ">
            <i class="fa fa-check"></i>
            Ativar</button>
          
          <button *ngIf="searchCriteria.valuesState=='' || searchCriteria.valuesState=='1' || searchCriteria.valuesState =='3'" (click)="updateState(2)" style="margin-left: 10px;" class=" actions btn bg-gray  btn-sm btn-flat">
            <i class="fa fa-close"></i>
            Desabilitar</button>
          
          <button *ngIf="searchCriteria.valuesState=='' || searchCriteria.valuesState=='1' || searchCriteria.valuesState =='2'" (click)="updateState(3)" style="margin-left: 10px;" class=" actions btn bg-blue btn-sm btn-flat ">
            <i class="fa fa-trash"></i>
            Enviar p/ Lixeira</button>
          
            <button  *ngIf="searchCriteria.valuesState=='3'" (click)="deleteList()" style="margin-left: 10px;" class=" actions btn btn-danger btn-sm btn-flat ">
              <i class="fa fa-eraser"></i>
              Esvaziar Lixeira</button>
          <button  (click)="ajuda(helper)" style="margin-left: 10px;" class=" ajuda btn bg-purple btn-sm btn-flat ">
            <i class="fa fa-question-circle"></i>
            Ajuda</button>
          </div>
          <!-- /.btn-group -->
          <div class="pull-right" style="margin-right: 10px;">
            1-3/3
            <!-- /.btn-group -->
          </div>
          <!-- /.pull-right -->
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-bordered table-condensed table-hover table-striped dataTable" sortable-table (sorted)="onSorted($event)">
            <thead>
              <tr class="zf-title">
                <th width="50">
                  <input class="_all" (change)="onChange('all', $event.target.checked)" type="checkbox">
                </th>
                <th class="sorting" sortable-column="title" sort-direction="asc">Nome\Descrição</th>
                <th class="sorting" sortable-column="cep">Cep</th>
                <th class="sorting" sortable-column="Status" width="100">Active</th>
                <th width="100">#</th>
              </tr>
            </thead>
            <tbody>
              <tr class="zf-data-row text-green" *ngFor="let item of resources.result.sEcho">
                <td>
                  <input class="all" (change)="onChange(item.id, $event.target.checked)" type="checkbox" [value]="item.id">
                </td>
                <td>
                  <a [routerLink]="[item.id,'edit']">{{ item.title }}</a>
                </td>
                <td>{{ item.cep }}</td>
                <td [class]="item.status.class">{{ item.status.value }}</td>
                <td>
                  <a class="btn btn-success btn-xs btn-flat" [routerLink]="[item.id,'edit']">
                    <i class="fa fa-pencil"> </i>
                  </a> |
                  <button class="btn btn-danger btn-xs btn-flat" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                    placement="left" (confirm)="delete(item.id)" (cancel)="cancelClicked = true" [confirmText]="confirmText"
                    [cancelText]="cancelText">
                    <i class="fa fa-trash"> </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <app-paginator *ngIf="resources.result.iTotalDisplayRecords && resources.result.iTotalDisplayRecords>=searchCriteria.zfTableItemPerPage"
                [qtdPorPagina]="searchCriteria.zfTableItemPerPage" [totalRegistros]="resources.result.iTotalDisplayRecords"
                [qtdAdjacentes]="3" (onPaginate)="paginar($event)">
              </app-paginator>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
<!-- <pre class="card card-block card-header">{{  idDelete | json }}</pre> -->
<!-- 
  <pre class="card card-block card-header">{{  searchCriteria | json }}</pre>
  <pre class="card card-block card-header">{{  resources.result | json }}</pre> 
-->